## .NET
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb

## Build / Test
TestResults/
coverage/
*.coverage
*.coveragexml
coverage.opencover.xml

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## IDE
.vs/
.vscode/
.idea/
*.swp

## Docker
docker/

## OS
Thumbs.db
.DS_Store

## User secrets
secrets.json
